html.dark {
    --text-color: #ffffff;
    --icon-color: invert(100%) sepia(6%) saturate(6325%) hue-rotate(161deg)
        brightness(117%) contrast(105%);

    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate-bg-color: #ededf6;
}
