.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;
    background: var(--filter-form-bg);
    box-shadow: var(--filter-form-shadow);
    border-radius: 20px;
    padding: 30px;

    &--arrow {
        position: absolute;
        top: -16px;
        right: 18px;
        height: 21px;
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__row {
        display: flex;
    }

    &__separate {
        margin: 0 30px;
        width: 1px;
        background-color: #eee;
    }

    &::after {
        content: "";
        display: block;
        border-width: 16px 20px;
        border-style: solid;
        border-color: transparent transparent var(--white-color) transparent;
        position: absolute;
    }
}
.filter__form {
    margin-top: 30px;

    &-label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.875%;
        }
    }

    &-input {
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid var(--slider-border-color);
        width: 121px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.875%;
    }

    &--group {
        margin: 20px 0;

        &__inline {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }

    &--slider {
        width: 100%;
        height: 2px;
        background: var(--slider-border-color);
        position: relative;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: var(--filter-form-slider-bg);
            border: 6px solid var(--filter-yellow-color);
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            left: var(--min-value);
        }

        &::after {
            left: var(--max-value);
        }
    }

    &-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;

        height: calc(100% - 10px);
        min-width: var(--width, 108px);

        font-weight: 500;
        line-height: 142.857%;
        padding: 0 14px;
    }

    &-select + &-select {
        border-left: 1px solid var(--slider-border-color);
    }

    &-select--wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid var(--slider-border-color);
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }

    &-tag {
        padding: 6px 12px;
        border-radius: 6px;
        color: var(--form-tag-text-color);
        background: var(--form-tag-bg-color);

        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }

    &-search {
        display: flex;
        width: 335px;

        border-radius: 6px;
        border: 1px solid var(--slider-border-color);
        padding: 10px 16px;

        &--input {
            width: 100%;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &::placeholder {
                color: var(--form-tag-text-color);
                font-weight: 400;
            }
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-left: 12px;
        }
    }
}
